# Vim temp files
*~
*.swp
.netrwhist
# ncmpcpp files
*.log

# Canto files
canto/feeds/*
canto/fetchlog
canto/log

# MPD
mpd/mpd.db
mpd/mpd.log
mpd/mpd.pid
mpd/playlists/*
mpd/mpdstates

# Scripts
scripts/archey
scripts/inxi


# Build files
*.o
