[submodule "vim/bundle/jslint.vim"]
	path = vim/bundle/jslint.vim
	url = https://github.com/hallettj/jslint.vim.git
[submodule "vim/bundle/nerdtree.vim"]
	path = vim/bundle/nerdtree.vim
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/tabular.vim"]
	path = vim/bundle/tabular.vim
	url = https://github.com/godlygeek/tabular.git
[submodule "vim/bundle/vim-javascript.vim"]
	path = vim/bundle/vim-javascript.vim
	url = https://github.com/pangloss/vim-javascript.git
[submodule "vim/bundle/mango.vim"]
	path = vim/bundle/mango.vim
	url = https://github.com/goatslacker/mango.vim
[submodule "vim/bundle/vim-powerline.vim"]
	path = vim/bundle/vim-powerline.vim
	url = https://github.com/Lokaltog/vim-powerline.git
